:root {
  /* Color scheme for Yaru Dark Purple */
  --color-primary: #7713e2;  /* Dark Purple */
  --color-secondary: #b583ff; /* Light Purple */
  --color-text: #e6e6e6;
  --color-background: #2e2c3a;
  --color-link-hover: #bb86fc;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-background);
  color: var(--color-text);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Material shadow */
}

.navbar__logo img {
  height: 40px;
  width: auto;
}

.navbar__menu {
  display: flex;
  gap: 2rem;
}

.navbar__link {
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.6rem;
  transition: color 0.3s ease;
}

.navbar__link:hover {
  color: var(--color-link-hover);
}

.navbar__icons {
  display: flex;
  gap: 1.5rem;
}

.navbar__icon {
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 1.4rem;
  transition: color 0.3s ease;
}

.navbar__icon:hover {
  color: var(--color-link-hover);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar__menu {
    display: none;
  }

  .navbar__icons {
    display: none;
  }
}

