---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Navbar from "../components/Navbar.astro";
---

<html lang="en">
<head>
  <Navbar/>
</head>
  <body>

      <main>
        <slot />
      </main>
    <!-- <Footer /> -->
  </body>
</html>
